---
import flecha from '../../assets/GFA.png';
---

<header>
    <img src={flecha.src} alt="LogoFlechaAmarilla">
    <h1>Portal de facturación</h1>
    <ul>
        <li>Inicio</li>
        <li>Reenvio de factura</li>
        <li>Ayuda</li>
    </ul>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f86404;
        color: white;
        padding: 10px 20px;
        width: 100%;
        max-height: 50px;
        position: fixed;
    }

    img {
        width: 170px;
        height: auto;
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        padding: 0 100px;
        font-weight: bold;
    }

    li {
        cursor: pointer;
    }

    @media (max-width: 1000px) {
        h1 {
            font-size: 1.5rem;
        }

        ul {
            padding: 0 50px;
        }
    }
    @media (max-width: 480px) {
        header {
            width: 100%;
            flex-direction: column;
            padding: 10px 0;
            max-height: 70px;
            z-index: 9999;
        }

        img {
            width: 90px;
        }

        ul {
            display: none;
        }
        h1, img {
            margin: auto;
        }
    }
</style>