<section>
    <h1>Antes de generar tu factura, toma en cuenta estas indicaciones:</h1>

    <h3>&#128197; Vigencia para facturar:</h3>
    <p>Puedes facturar durante el mes de tu compra y hasta 72 horas después de que finalice.
        Si compraste el último día del mes, tienes hasta el día 3 del mes siguiente.</p>

    <h3>&#127915; Sobre tus boletos:</h3>
    <p>Boletos abiertos solo se facturan en el mismo mes de compra.
        Si tus boletos son de diferentes meses, se generarán facturas por separado.</p>

    <h3>&#9888; Importante</h3>
    <p>Las facturas se emiten con la fecha del día en que las solicitas.
        Revisa bien tus datos antes de generar tu CFDI.</p>
</section>

<style>
    section {
        padding: 10px;
        margin: 40px;
        background-color: #F7F2D3;
        border: 20px solid #ffa100;
        border-radius: 40px;
        margin-bottom: 20px;
        width: 40%;
        height: 65%;
    }
    h1, h3 {
        color: #333;
    }

    h1{
        text-align: center;
        font-size: 21px;
    }
    h3 {
        font-size: 18px;
        margin-top: 20px;
    }
    p {
        color: #555;
        font-size: 15px;
    }
</style>