---
import PrincipalLayout from "../layouts/PrincipalLayout.astro";
---

<PrincipalLayout titulo="Aviso">
    <main class="avi">
        <h1>Aviso de privacidad</h1>
        <div class="text">
            <h3>Aviso de privacidad</h3>
            <p>AUTOBUSES DE LA PIEDAD S.A. DE C.V. Y empresas coordinadas conocidas como Grupo Flecha Amarilla, en cumplimiento por lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de Particulares, hacen del conocimiento de sus clientes, proveedores, usuarios y Público en general el presente Aviso de Privacidad:
Los datos personales que nos proporciona directamente cuando adquiere un boleto en taquillas, telefónicamente, vía internet o en cualquier relación comercial cliente-proveedor, tienen como finalidad referenciar el servicio solicitado, facturación, relación comercial, estudios de mercado o control de calidad; por lo que sus datos personales no serán transferibles a terceros.
Su imagen podrá ser video grabada con fines de seguridad, disuasión y prevención del delito. Su imagen se almacenará en el domicilio de la responsable de proteger y resguardar sus datos personales por un término de 48 horas; transcurrido el plazo, las imágenes serán borradas; no podrán ser transferibles a terceros salvo orden judicial.
Los datos personales que le solicitamos para los servicios contratados son: nombre y apellidos, domicilio, teléfono, correo electrónico, fecha de nacimiento.
Cuando realice algún pago con tarjeta de crédito o débito se requerirán algunos datos financieros: nombre del titular, domicilio, teléfono, nombre de la institución bancaria, número de tarjeta, fecha de vencimiento y código de seguridad. No serán transferibles a terceros.
La información que AUTOBUSES DE LA PIEDAD S.A. DE C.V. recibe y almacena de las páginas de internet en el momento que usted interactúa en los sitios web de nuestras empresas coordinadas, es principalmente información técnica, como su dirección de protocolo de internet, su sistema operativo en la computadora y su tipo de navegador, la dirección de un sitio web de referencia, en su caso, y la ruta que siga durante su recorrido por la página web.
AUTOBUSES DE LA PIEDAD S.A. DE C.V. Utiliza 'cookies' para reconocerlo cuando utilice o regrese a nuestros sitios web. Una 'cookie' es un pequeño archivo de texto que un sitio web o un correo electrónico puede registrar en su navegador y almacenarlo en su disco duro.
Las cookies permiten reconocerlo en la página, y respaldan sus operaciones con nuestra empresa; Sin las cookies habilitadas, usted podrá navegar en los sitios web de Autobuses de la Piedad, S.A. de C.V., pero es posible que no pueda utilizar algunas características del mismo.
Se recaba esta información con el fin de permitir que los sitios web operen correctamente, evaluar el uso del sitio web y apoyar campañas promocionales.
Usted tendrá derecho a acceder, modificar o cancelar todos y cada uno de sus datos, podrá oponerse al uso de ellos e incluso revocarlos. Para hacer valer estos derechos puede contactarnos en el domicilio de la responsable de proteger y resguardar sus datos personales: Oficina Responsable de Protección de Datos Personales de Autobuses de La Piedad S.A. de C.V. con domicilio en Boulevard La Luz 2011, Colonia Las Fuentes, Código Postal 37270, León Guanajuato, con Teléfono 477 710 00 01 y correo electrónico busito@flecha-amarilla.com
En Caso de alguna modificación al presente Aviso de Privacidad se le dará a conocer a través de las páginas de internet de las empresas, en los módulos de venta, en algún diario de circulación nacional y mediante nuestros operadores telefónicos.
Al adquirir su boleto, contratar alguno de los servicios o establecer una relación comercial con Autobuses de La Piedad S.A. de C.V. y empresas coordinadas conocidas como Grupo Flecha Amarilla.

Usted manifiesta conocer el aviso de Privacidad </p>
        </div>
    </main>
</PrincipalLayout>

<style>
    p {
        margin: 30px 100px;
        text-align: justify;
        font-size: 1rem;
        line-height: 1.5;
    }

    h3 {
        text-align: center;
        font-size: 2rem;
        margin: 20px 0;
    }
</style>